{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero">
    <div class="row align-items-center">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-5 text-white header-font">
                Train, Race, Recover...
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button-hero btn btn-ls text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<section class="product-categories">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white product-categories-img" style="background-image: url('/media/daisy-muddy-face-cropped-200.jpeg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto product-categories-text">
                <h2>RUNNING</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at molestie justo, a lobortis justo. Vestibulum a euismod ante. Nullam consequat blandit tortor rhoncus pharetra.</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}?category=running_wear,running_shoes,running_tech,running_bags" class="shop-now-button btn btn-ls text-uppercase py-3">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white product-categories-img" style="background-image: url('/media/daisy-muddy-face-cropped-200.jpeg')"></div>
            <div class="col-lg-6 my-auto product-categories-text">
                <h2>CYCLING</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at molestie justo, a lobortis justo. Vestibulum a euismod ante. Nullam consequat blandit tortor rhoncus pharetra.</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}?category=cycling_wear,cycling_shoes,cycling_helmets,cycling_tech" class="shop-now-button btn btn-ls text-uppercase py-3">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white product-categories-img" style="background-image: url('/media/daisy-muddy-face-cropped-200.jpeg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto product-categories-text">
                <h2>SWIMMING</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at molestie justo, a lobortis justo. Vestibulum a euismod ante. Nullam consequat blandit tortor rhoncus pharetra.</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}?category=swimwear,wetsuits,swimming_tech,swimming_bags" class="shop-now-button btn btn-ls text-uppercase py-3">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white product-categories-img" style="background-image: url('/media/daisy-muddy-face-cropped-200.jpeg')"></div>
            <div class="col-lg-6 my-auto product-categories-text">
                <h2>NUTRITION</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at molestie justo, a lobortis justo. Vestibulum a euismod ante. Nullam consequat blandit tortor rhoncus pharetra.</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}?category=energy,hydration,protein,recovery" class="shop-now-button btn btn-ls rounded-2 text-uppercase py-3">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials text-center bg-light">
    <div class="container p-0">
        <h2 class="mb-5">Customer Reviews</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3 mw-50" src="/media/aggie.jpeg" alt="..." />
                    <h5>Aggie</h5>
                    <p class="font-weight-light mb-0">"Love my cat lead and harness"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3 mw-10 mh-10" src="/media/jane-with-daisy.JPG" alt="..." />
                    <h5>Jane</h5>
                    <p class="font-weight-light">"I bought this but it doesn't work properly"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3 mw-50" src="/media/daisy-muddy-face-cropped-200.jpeg" alt="..." />
                    <h5>Daisy</h5>
                    <p class="font-weight-light">"The carrots i received were lovely"</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}