{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-5 text-white header-font">
                Train, Race, Recover...
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button-hero btn btn-ls text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<section class="product-categories">
    <div class="container">
        <h3 class="text-center text-uppercase my-5"><strong>Categories</strong></h3>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="home-image-container shadow-lg rounded">
                    <img class="img-fluid" src="{% static 'images/runner.jpg' %}" alt="Runner">
                    <a href="{% url 'products' %}?category=running_wear,running_shoes,running_tech,running_bags"
                        class="text-white">
                        <div class="image-text">
                            <div class="d-flex align-items-end h-100 p-3">
                                <h4 class="text-uppercase">Run</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="image">
                    <div class="home-image-container shadow-lg rounded">
                        <img class="img-fluid" src="{% static 'images/cyclist.jpg' %}" alt="Cyclist">
                        <a href="{% url 'products' %}?category=cycling_wear,cycling_shoes,cycling_helmets,cycling_tech"
                            class="text-white">
                            <div class="image-text">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h4 class="mb-0 text-uppercase">Cycle</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="image">
                    <div class="home-image-container image-zoom shadow-lg rounded">
                        <img class="img-fluid" src="{% static 'images/swimmer.jpg' %}" alt="Swimmer">
                        <a href="{% url 'products' %}?category=swimwear,wetsuits,swimming_tech,swimming_bags"
                            class="text-white">
                            <div class="image-text">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h4 class="mb-0 text-uppercase">Swim</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="image">
                    <div class="home-image-container shadow-lg rounded">
                        <img class="img-fluid" src="{% static 'images/drink.jpg' %}" alt="Sports drink">
                        <a href="{% url 'products' %}?category=energy,hydration,protein,recovery" class="text-white">
                            <div class="image-text">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h4 class="mb-0 text-uppercase">Nutrition</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="customer-reviews text-center bg-light">
    <div class="container">
        <h3 class="mb-5 text-uppercase">Customer Reviews</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="mx-auto pb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'images/aggie.jpeg' %}" alt="Aggie" />
                    <h5>Aggie</h5>
                    <p class="font-weight-light mb-3">"Excellent service and products"</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mx-auto pb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{% static 'images/jane-with-daisy.JPG' %}"
                        alt="Jane" />
                    <h5>Jane</h5>
                    <p class="font-weight-light">"Excellent service and products"</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mx-auto pb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3"
                        src="{% static 'images/daisy-muddy-face-cropped-200.jpeg' %}" alt="Daisy" />
                    <h5>Daisy</h5>
                    <p class="font-weight-light">"Excellent service and products"</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="text-center">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="mx-auto">
                    <i class="fas fa-shipping-fast fa-3x mb-4"></i>
                    <h5>Free shipping on</h5>
                    <h5 class="mb-4">orders over £{{ free_shipping_threshold }}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mx-auto">
                    <i class="fas fa-lock fa-3x mb-4"></i>
                    <h5>Secure</h5>
                    <h5 class="mb-4">payment</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mx-auto">
                    <i class="fas fa-piggy-bank fa-3x mb-4"></i>
                    <h5>{{ registered_user_discount_percentage }}% discount</h5>
                    <h5 class="mb-4">with a registered account</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}