{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="std-background"></div>
<div class="container page-content">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Returns and Refunds</h2>
            <hr>
        </div>
    </div>
    <div id="accordion" class="mb-10">
        <div class="card mb-1">
            <div class="card-header information-background" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed information" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-plus text-right"></i> Returns and Refunds
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h5>Returns and Refunds</h5>
                    <p>If you change your mind on your purchase, you have a full 60 days to return it for a refund
                        subject to some exclusions set out below. All goods must be unused, in a saleable condition and
                        in their original packaging with all labels still attached.</p>
                    <p>There are some exclusions to our 60 day returns policy, which are detailed below (unless faulty
                        or not as described):</p>
                    <ul>
                        <li>Nutritional products or those with a best before date must be returned within 28 days</li>
                        <li>GPS systems such as sports watches or cycle computers, can only be returned if unregistered.
                        </li>
                        <li>For hygiene reasons, any intimate garments such as swimsuits can only be returned if the
                            items are unworn (and any protective packaging remains)</li>
                        <li>Gift vouchers</li>
                        <li>Products received over 60 days ago</li>
                        <li>Products that have been opened or unsealed</li>
                        <li>Products returned in an unsatisfactory condition</li>
                    </ul>
                    <p>Please note, that we reserve the right to refuse a return if we believe the purpose was for stock
                        trading/reselling and not personal use.</p>
                    <p>All returned items must be securely packaged in a sealed box, to ensure the contents are
                        protected. Urban Attiva reserve the right to refuse the return of any items which have been
                        damaged in return transit due to insufficient packaging.</p>
                    <p>Returned items will be checked by one of our specialists to ensure they meet the criteria set out
                        in this Returns and Refund policy. Please note if you return items which are outside our Returns
                        and Refund policy we will be unable to process a full refund. We will contact you in such
                        circumstances.</p>
                    <p>We cannot offer exchanges for unwanted items; please place a new order for any alternative items
                        you require. All refunds will be issued to the original payment method on the order
                        <strong>within 3-5 working days</strong>&nbsp;of receipt at our warehouse or once the item has
                        been checked by one of our specialists.</p>
                    <p>This does not affect your statutory rights.</p>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header information-background" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed information" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-plus text-right"></i> How to Make a Return
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h5>How to Make a Return</h5>
                    <p>To return unwanted items, follow these simple steps:</p>
                    <ol>
                        <li>Contact Customer Service to request a returns form and label</li>
                        <li>Print your return label and returns form</li>
                        <li>Insert the return form in your return package with the items you're returning</li>
                        <li>Attach the return label to your box and send back to Urban Attiva at the address below.
                            Please keep hold of your return postage receipt.</li>
                    </ol>
                    <div>All returned items must be securely packaged in a sealed box, to ensure the contents are
                        protected. Urban Attiva reserve the right to refuse the return of any items which have been
                        damaged in return transit due to insufficient packaging.</div>
                    <br>
                    <h5>Don't Have a Printer?</h5>
                    <p>We're more than happy to accept a handwritten cover note just as long as it includes the
                        following information:</p>
                    <ul>
                        <li>Your name and address</li>
                        <li>The original order number (which can be found in your account profile or on the email
                            confirmation you received from us)</li>
                        <li>The reason for return</li>
                    </ul>
                    <p> All you need to do now is return the parcel to our UK warehouse:</p>
                    <p>
                        Returns, Urban Attiva Ltd<br />
                        Greenfields Logistics Centre<br />
                        Newton Road<br />
                        Newton<br />
                        NT10 5GB</p>
                    <p>We can't refund postage costs however unless the return is faulty or the wrong item. This being
                        the case, we can offer you up to £25 in reimbursement - just remember to email us a copy of the
                        receipt.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <a href="{% url 'products' %}" class="btn btn-ua-grey keep-shopping-button">
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    <br>
</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}