html {
    height: 100%;
}

.hero {
    background: rgba(0, 0, 0, 1.0);
    height: 75vh;
    width: 100vw;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.image-hero {
    position: relative;
    background: cover;
    background-image: url('/media/humber-swim.jpg');
    background-repeat: no-repeat;
    background-position: right;
  }
  

/* Home page product categories */
.product-categories .product-categories-text {
    padding: 5rem;
}
  
.product-categories .product-categories-img {
min-height: 10rem;
background-size: cover;
background-repeat: no-repeat;
}

.testimonials {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-font, 
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button-hero {
    background: white;
    color: black;
    min-width: 150px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 150px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colours for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
    border: 1px solid black;
}

.shop-now-button-hero:hover,
.shop-now-button-hero:active,
.shop-now-button-hero:focus {
    background: black;
    color: white;
    border: 1px solid black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.std-backround {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

#footer {
   position:relative;
   bottom:0;
   width:100vw;
}