/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* --------------- General -----------------*/

.text-uppercase {
  letter-spacing: .2em;
}

.clickable {
  cursor: pointer;
}

.product-menu {
  position: static !important;
}

.logo-lg {
  width: 240px;
  height: 58px;
}

.logo-sm {
  width: 161px;
  height: 39px;
}

.modal {
  max-width: 400px;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.table {
  color: #4B5657;
}

html {
  scroll-behavior: smooth;
}

/* from Bulma */
.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.std-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #F6F7F7;
  z-index: -1;
}

.white-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #FFFFFF;
  z-index: -1;
}

/* --------------- Hero image -------------- */

.jumbotron {
  color: white;
  background-image: url('../images/hero-image3.jpg');
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  margin-bottom: 0px;
}

/* --------------- Buttons ----------------- */

.btn {
  padding: 6px 12px;
}

.btn-sm {
  padding: 4px 8px;
}

.search-btn {
  background: #566465;
  color: #FFFFFF;
  border-radius: 25px;
}

.product-review {
  margin-bottom: 20px;
}

.fa-shopping-cart:before,
.cart-count,
.search-nav {
  color: #566465;
}

.badge {
  border-radius: 25px;
}

.shop-now-button-hero {
  background: #FFFFFF;
  color: #566465;
  min-width: 150px;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn-ua-grey {
  background: #4B5657;
  color: white;
  border: 1px solid #4B5657;
  border-radius: 25px;
}

.auth-btn-ua-grey {
  background: #4B5657;
  color: white !important;
  /* to override allauth style */
  border: 1px solid #4B5657 !important;
  /* to override allauth style */
  border-radius: 25px !important;
  /* to override allauth style */
}

.btn-ua-grey-increment {
  background: #4B5657;
  color: white;
  border: 0px;
  border-radius: 0px 25px 25px 0px !important;
}

.btn-ua-grey-decrement {
  background: #4B5657;
  color: white !important;
  border: 0px;
  border-radius: 25px 0px 0px 25px !important;
}

.btn-ua-grey:hover,
.btn-ua-grey:active,
.btn-ua-grey:focus,
.auth-btn-ua-grey:hover,
.auth-btn-ua-grey:active,
.auth-btn-ua-grey:focus,
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.btn-ua-grey-increment:hover,
.btn-ua-grey-increment:active,
.btn-ua-grey-increment:focus,
.btn-ua-grey-decrement:hover,
.btn-ua-grey-decrement:active,
.btn-ua-grey-decrement:focus {
  background: #000000;
  color: #FFFFFF !important;
  border: 0px;
}

.shop-now-button-hero:hover,
.shop-now-button-hero:active,
.shop-now-button-hero:focus {
  background: #FF4D02;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #FF4D02;
}

.btn-outline-ua-grey {
  background: white;
  color: #4B5657 !important;
  border: 1px solid #4B5657;
  border-radius: 25px;
}

.auth-btn-outline-ua-grey {
  background: white;
  color: #4B5657 !important;
  border: 1px solid #4B5657;
  border-radius: 25px;
}

.btn-outline-ua-grey:hover,
.btn-outline-ua-grey:active,
.btn-outline-ua-grey:focus,
.auth-btn-outline-ua-grey:hover,
.auth-btn-outline-ua-grey:active,
.auth-btn-outline-ua-grey:focus {
  background: #4B5657;
  color: #FFFFFF !important;
  border: 1px solid #4B5657;
}

.primaryAction {
  background: #4B5657 !important;
  border: 1px solid #4B5657 !important;
  border-radius: 25px !important;
}

.primaryAction:hover,
.primaryAction:active,
.primaryAction:focus {
  background: #000000 !important;
  border: 1px solid #000000 !important;
}

/* --------------- Profile ----------------- */

.table thead th {
  color: #4B5657;
}

/* -------------- Navigation --------------- */

.product-menu .product-menu-contained {
  padding: 20px;
  width: 100%;
  max-width: 2000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  margin-top: -1px;
}

.product-menu a.nav-link {
  padding: 7px !important;
  padding-left: 0 !important;
}

.account-menu .account-menu-contained {
  padding: 20px;
  max-width: 250px;
  margin-top: -1px;
}

/* -------------- Top Banner --------------- */

#top-banner {
  background: #4B5657;
  padding: 30px 0;
}

#top-banner .offer {
  color: #FFFFFF;
}

#top-banner .offer .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  max-width: 450px;
}

#top-banner a {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
}

/* -------------- Product Form ------------- */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 5px;
  border-color: #DC3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  border-radius: 5px;
  background-color: #DC3545;
  border-color: #DC3545;
}


/* Adapted from menu in template https://bootstrapious.com/p/obaju-e-commerce-template */

/* -------------------- Navbar ---------------------- */

.navbar {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px !important;
}

.navbar-brand {
  padding-bottom: 23px;
}

.navbar .navbar-nav>.nav-item>.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 30px 15px !important;
  color: #566465;
}

@media (max-width: 992px) {
  .navbar .navbar-nav>.nav-item>.nav-link {
    padding: 10px 15px !important;
  }
}

.navbar .navbar-nav>.nav-item>.nav-link.active,
.navbar .navbar-nav>.nav-item>.nav-link:hover,
.navbar .navbar-nav>.nav-item>.nav-link:focus {
  background: #D3D3D3;
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    position: relative !important;
    border: none;
  }
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar .product-menu-contained {
  padding-right: 30px !important;
  padding-left: 30px !important;
  padding-top: 30px !important;
  padding-bottom: 0px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

@media (max-width: 992px) {
  .navbar .product-menu-contained {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar .product-menu h5 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #566465;
}

@media (max-width: 768px) {
  .navbar .product-menu h5 {
    font-size: 0.9rem;
  }
}

.navbar .product-menu ul {
  margin: 0;
  padding: 0;
}

.navbar .product-menu ul .nav-item {
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0;
}

.navbar .product-menu ul .nav-item a {
  color: #889899;
  font-size: 1.0rem;
  display: block;
  padding: 0 !important;
}

.navbar .product-menu ul .nav-item a:hover {
  color: #4FCBFF !important;
  text-decoration: none;
}

.navbar .product-menu .banner {
  margin-bottom: 10px;
}

.navbar-toggler {
  color: #4B5657;
}

/* Adapted from menu in template https://bootstrapious.com/p/obaju-e-commerce-template */

/* -------------- Account Menu --------------*/

.navbar .account-menu-contained {
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding-top: 30px !important;
  padding-bottom: 0px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

@media (max-width: 992px) {
  .navbar .account-menu-contained {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar .account-menu h5 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #566465;
}

@media (max-width: 768px) {
  .navbar .account-menu h5 {
    font-size: 0.9rem;
  }
}

.navbar .account-menu ul {
  margin: 0;
  padding: 0;
}

.navbar .account-menu ul .nav-item {
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0;
}

.navbar .account-menu ul .nav-item a {
  color: #889899;
  font-size: 1.0rem;
  display: block;
  padding: 0 !important;
}

.navbar .account-menu ul .nav-item a:hover {
  color: #4FCBFF !important;
  text-decoration: none;
}

.navbar .account-menu .banner {
  margin-bottom: 10px;
}

.navbar .navbar-btn {
  color: #FFFFFF;
  margin-right: 10px;
}

/* --------------- Search ------------------ */

#search {
  background: #FFFFFF;
}

#search .container {
  text-align: right;
}

#search form {
  max-width: 500px;
  padding: 20px 0;
}

#search .navbar-form {
  float: right;
  width: 500px;
}

/* Sticky footer adapted from https://css-tricks.com/couple-takes-sticky-footer/ */

/* ---------------- Footer ----------------- */

html,
body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #4B5657;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/* -- Home page product categories and customer reviews -- */

.product-categories .product-categories-text {
  padding: 5rem;
}

.product-categories .product-categories-img {
  min-height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.customer-reviews {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.customer-message {
  max-width: 300px;
  margin: auto;
}

.customer-reviews img {
  max-width: 150px;
  max-height: 150px;
}

.social-media {
  font-size: 20px;
  color: white;
}

.header-font {
  text-transform: uppercase;
}

a.category-badge>span.badge:hover {
  background: #4B5657 !important;
  color: #FFFFFF !important;
}

input[name=q]::-webkit-input-placeholder {
  color: #96A4A5;
}

input[name=q]::-moz-placeholder {
  color: #96A4A5;
}

input[name=q]:-ms-input-placeholder {
  color: #96A4A5;
}

input[name=q]::-ms-input-placeholder {
  color: #96A4A5;
}

input[name=q]::placeholder {
  color: #96A4A5;
}

/* ----------- To top button ------------ */

.to-top-btn {
  height: 60px;
  width: 60px;
  position: fixed;
  color: #FF834F !important;
  font-size: 60px;
  bottom: 20px;
  right: 10px;
  z-index: 9999999999;
  display: none;
}

.to-top-link,
.update-link,
.remove-item {
  cursor: pointer;
}

/* ----------- Bootstrap toasts ------------ */

.message-container {
  position: absolute;
  top: 72px;
  right: 72px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 10px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ------------ Media queries -------------- */

/* Resize container on xl screens */
@media (min-width: 1440px) {
  .container {
    max-width: 80%;
  }
}

/* Move shop now button on smaller devices */
@media (max-width: 576px) {
  .header-font {
    margin-bottom: 150px !important;
  }
}

@media (max-width: 992px) {

  .display-4.logo-font {
    font-size: 2rem;
  }

  .btn-outline-ua-grey,
  .btn-ua-grey {
    padding: .375rem .375rem;
    font-size: .75rem;
  }

  .increment-qty,
  .decrement-qty {
    padding: .25rem .5rem !important;
  }
}

/* ------ Home page categories images ------ */

/* Contain image on hover / zoom */
.image-contained {
  position: relative;
  overflow: hidden;
  cursor: default;
}

/* Zoom image adapted from https://stackoverflow.com/questions/40319228/zoom-on-image-inside-div-without-div-moving */

.home-image-container {
  display: inline-block;
  overflow: hidden;
  /* clip the excess when child gets bigger than parent */
}

.home-image-container img {
  display: block;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  /* smoother zoom */
  opacity: 0.75;
}

.home-image-container:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 1.0;
}

.image-text {
  position: absolute;
  text-align: center;
  bottom: 0px;
  height: 100%;
  width: 94%;
}

/* --------------- Checkout ---------------- */

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(79, 203, 255, 0.50);
  z-index: 9999;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
}

.checkout-success {
  margin-top: 48px !important;
}

/* ------------ Allauth styling ------------ */

.allauth-form-inner-content {
  margin-bottom: 2.5rem;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #4B5657;
  border: 1px solid #4B5657;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;

  /* standard bootstrap btn transitions */
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
  /* text-info */
}

/* Adapted from https://demo.bootstrapious.com/obaju/2-1-1/ */

/* ----------------- Footer --------------- */

#footer {
  background: #DEE3E3;
  padding: 50px 0;
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul a {
  color: #4B5657;
}

#footer .social-media {
  text-align: left;
}

#footer .social-media a {
  margin: 0 10px 0 0;
  color: #FFFFFF;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  background-color: #566465;
}

#footer .social-media a i {
  vertical-align: bottom;
  line-height: 30px;
}

#footer .social-media a.facebook:hover {
  background-color: #4460AE;
}

#footer .social-media a.youtube:hover {
  background-color: #C21F25;
}

#footer .social-media a.twitter:hover {
  background-color: #33CCFF;
}

#footer .social-media a.instagram:hover {
  background-color: #CD4378;
}

#copyright {
  background: #4B5657;
  color: #ccc;
  padding: 20px 0;
  font-size: 0.5rem;
}

#copyright p {
  margin: 0;
}

/* ----------- Information pages ----------- */

.information {
  color: #4B5657;
  font-size: 16px;
}

.information-background {
  background-color: #FFFFFF;
}

/* ------ Product / blog detail page ------- */

.product-detail,
.blog-detail {
  margin-top: 48px !important;
}

.card-img-top {
  padding-left: 10px;
  padding-right: 10px;
}

/* ----------------- Blog ------------------ */

.blog-header {
  background-color: #FFFFFF;
}

.blog-intro {
  font-size: 1.5rem;
}

.blog-content {
  font-size: 1.1rem;
}

.blog-comment {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

/*@media (max-width: 1008px) {

  .blog-img {
    max-width: 80%;
  }
}*/

/*------------- 404 / 500 error ------------ */

.err-orange {
  color: #FF834F;
}

.err {
  padding-top: 50px;
  color: #6E7F80;
}

a {
  text-decoration: none;
  color: #4F73FF;
}

a:hover {
  text-decoration: underline;
}