<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="running-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Running
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="running-link">
                <a href="" class="dropdown-item">Running Wear</a>
                <a href="" class="dropdown-item">Running Shoes</a>
                <a href="" class="dropdown-item">Running Tech</a>
                <a href="" class="dropdown-item">Running Bags</a>
                <a href="" class="dropdown-item">All Running</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cycling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cycling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cycling-link">
                <a href="" class="dropdown-item">Cycling Wear</a>
                <a href="" class="dropdown-item">Cycling Shoes</a>
                <a href="" class="dropdown-item">Cycling Helmets</a>
                <a href="" class="dropdown-item">Cycling Tech</a>
                <a href="" class="dropdown-item">All Cycling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Swimming-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swimming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="swimming-link">
                <a href="" class="dropdown-item">Swimwear</a>
                <a href="" class="dropdown-item">Wetsuits</a>
                <a href="" class="dropdown-item">Swimming Tech</a>
                <a href="" class="dropdown-item">Swimming Bags</a>
                <a href="" class="dropdown-item">All Swimming</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="" class="dropdown-item">Energy</a>
                <a href="" class="dropdown-item">Hydration</a>
                <a href="" class="dropdown-item">Protein</a>
                <a href="" class="dropdown-item">Recovery</a>
                <a href="" class="dropdown-item">All Nutrition</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger" href="#" id="sale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sale-link">
                <a href="" class="dropdown-item">Running</a>
                <a href="" class="dropdown-item">Cycling</a>
                <a href="" class="dropdown-item">Swimming</a>
                <a href="" class="dropdown-item">Nutrition</a>
                <a href="" class="dropdown-item">All Sale Items</a>
            </div>
        </li>
    </ul>
</div>