{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="std-background"></div>
<div class="container-fluid page-content blog">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font pb-2">All Blog Posts</h2>
        </div>
    </div>
    <div class="mx-auto">
        <div class="container">
            <div class="row">
                {% for blog in blog_posts %}
                <div class="mb-5 w-100 text-center">
                    {% if blog.image %}
                    <div class="mb-3"><a href="{% url 'blog_detail' blog.id %}"><img src="{{ blog.image.url }}"
                                alt="{{ blog.title }}" class="img-fluid blog-img"></a></div>
                    {% else %}
                    <div class="post-thumbnail"><a href="{% url 'blog_detail' blog.id %}"><img src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ blog.title }}" class="img-fluid blog-img" /></a></div>
                    {% endif %}
                    <div>
                        <a href="{% url 'blog_detail' blog.id %}">
                            <h3 class="h4">{{ blog.title }}</h3>
                        </a>
                        <p class="lead">{{ blog.intro }}</p>
                        <div class="card-footer bg-white pt-0 border-0 text-center mb-4">
                            <small class="px-2 text-muted">Posted by: {{ blog.author }} <span class="date"> on:
                                    {{ blog.date }}</span></small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}