{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mx-auto pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div>
                    <div>
                        {% if blog_post.image %}
                        <img class="card-img-top img-fluid" src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                            alt="{{ blog_post.title }}">
                        {% endif %}
                    </div>
                    <div class="post-details">
                        <h1>{{ blog_post.title }}<a href="#"></a></h1>
                        <h6 class="text-muted"> By: {{ blog_post.author}}</h6>
                        <h6 class="text-muted"><i class="far fa-clock"></i> {{ blog_post.date }}</h6>
                        <div class="text-muted"><i class="far fa-comments"></i></i> {{ blog_post.comments.count }}</div>

                        {% if request.user.is_superuser %}
                        <div>
                            <a href="{% url 'edit_blog_post' blog_post.id %}"><i class="fas fa-edit fa-lg"></i> Edit</a>
                            |
                            <a class="text-danger" data-toggle="modal" data-target="#deletePost-{{ blog_post.id }}"><i
                                    class="far fa-trash-alt fa-lg"></i> Delete</a>
                        </div>
                    </div>
                    <div class="post-body">
                        <p class="intro">{{ blog_post.intro }}</p>
                        <p class="blog_content">{{ blog_post.content }}</p>
                    </div>

                    <!-- Delete blog post modal-->
                    <div class="modal fade" id="deletePost-{{ blog_post.id }}" tabindex="-1"
                        aria-labelledby="deletePostLabel-{{ blog_post.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-full font-weight-bold" id="deletePostLabel">Delete blog
                                        post.
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-full">
                                    <p>Are you sure that your want to delete this blog post? This action cannot be
                                        undone.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                        data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_blog_post' blog_post.id %}"
                                        class="btn btn-danger ml-3">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto pt-5">
    <div class="container">
    <div class="rounded p-4 mb-4 clearfix">
        <h5 class="mb-0 mb-4">Post Comments ({{ blog_post.comments.count }})</h5>
        <div class="row align-items-start">
            <div class="col-lg-6 col-sm-8">
                <a href="{% url 'add_comment' blog_post.id %}" type="button" class="btn btn-black">Comment</a>
            </div>
        </div>
    </div>
    {% if blog_post.comments.count > 0 %}
    {% for comment in blog_post.comments.all %}
    <div class="p-4">
        <div class="p-4 shadow-sm rounded">
            <div class="d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                    <div><strong>By: {{ comment.author }}</strong></div>
                </div>
            </div>
            <div>{{ comment.date }}</div>
            <div class="pt-4">
                <p>{{ comment.comment }}</p>
            </div>
            {% if request.user.is_authenticated %}
            {% if user.id == comment.author.id or request.user.is_superuser %}
            <div>
                <a href="{% url 'edit_comment' comment.id %}"><i class="fas fa-edit fa-lg"></i>
                    Edit</a> |
                <a class="text-danger" data-toggle="modal" data-target="#deleteComment-{{ comment.id }}"><i
                        class="far fa-trash-alt fa-lg"></i> Delete</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- Delete comment modal -->
    <div class="modal fade" id="deleteComment-{{ comment.id }}" tabindex="-1"
        aria-labelledby="deleteCommentLabel-{{ comment.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-full font-weight-bold" id="deleteCommentLabel">
                        Delete comment.</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-full">
                    <p>Are you sure that your want to delete your comment? This action cannot be
                        undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger ml-3">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
