{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="text-center col-12">
            <span class="display-1 d-block err">4<i class="far fa-question-circle fa-spin err-orange fa-sm"></i>4</span>
            <div class="mb-4 lead">Maybe this page moved? Got deleted? Never existed in the first place?<p>Let's
                    go <a class="text-info" href="{% url 'home' %}">home</a> and try from there.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}