{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="white-background"></div>
<div class="container page-content">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4"></h2>
        </div>
    </div>
    <div class="mainbox">
        <div class="mb-10">
            <div class="err3">5</div>
            <i class="fas fa-cog fa-spin err4"></i>
            <div><i class="fas fa-cog err5"></i></div>
        </div>
        <div class="msg">Ooops....? Something went wrong.<p>Let's go <a href="{% url 'home' %}">home</a> and try from
                there.</p>
        </div>
    </div>
</div>
{% endblock %}