{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="text-center col-12">
            <span class="display-1 d-block err">5<i class="fas fa-cog fa-spin err-orange fa-sm"></i><i
                    class="fas fa-cog fa-sm"></i></span>
            <div class="msg">Ooops....? Something went wrong.<p>Let's go <a class="text-info" href="{% url 'home' %}">home</a> and
                    try from there.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}