{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/4863a75fd6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Urban Attiva {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="header">
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container"><a href="{% url 'home' %}" class="navbar-brand home"><img
                        src="/media/urban-attiva-logo.png" alt="Urban Attiva logo"
                        class="d-none d-md-inline-block logo-sm"><img src="/media/urban-attiva-logo.png"
                        alt="Urban Attiva logo" class="d-inline-block d-md-none logo-sm"><span class="sr-only">Urban
                        Attiva - go
                        to homepage</span></a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target="#navigation"
                        class="btn btn-outline navbar-toggler"><span class="sr-only">Toggle
                            navigation</span><i class="fa fa-align-justify"></i></button>
                    <button type="button" data-toggle="collapse" data-target="#search"
                        class="btn btn-outline navbar-toggler"><span class="sr-only">Toggle search</span><i
                            class="fa fa-search"></i>
                    </button>
                    <a href="{% url 'view_cart' %}" class="btn btn-outline navbar-toggler"><i
                            class="fa fa-shopping-cart"></i>
                    </a>
                </div>
                <div id="navigation" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown product-menu"><a data-toggle="dropdown" data-hover="dropdown"
                                data-delay="200" class="dropdown-toggle nav-link">Shop<b class="caret"></b></a>
                            <ul class="dropdown-menu product-menu-contained">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <h5>All Products</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?sort=price&direction=asc"
                                                        class="nav-link">By Price</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?sort=rating&direction=desc"
                                                        class="nav-link">By Rating</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?sort=category&direction=asc"
                                                        class="nav-link">By Category</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?sort=category&direction=asc"
                                                        class="nav-link">All Products</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Run</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=running_wear"
                                                        class="nav-link">Running Wear</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=running_shoes"
                                                        class="nav-link">Running Shoes</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=running_tech"
                                                        class="nav-link">Running Tech</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=running_bags"
                                                        class="nav-link">Running Bags</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=running_wear,running_shoes,running_tech,running_bags"
                                                        class="nav-link">All Run</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Cycle</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=cycling_wear"
                                                        class="nav-link">Cycling Wear</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=cycling_shoes"
                                                        class="nav-link">Cycling Shoes</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=cycling_helmets"
                                                        class="nav-link">Cycling Helmets</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=cycling_tech"
                                                        class="nav-link">Cycling Tech</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=cycling_wear,cycling_shoes,cycling_helmets,cycling_tech"
                                                        class="nav-link">All Cycle</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Swim</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="{% url 'products' %}?category=swimwear"
                                                        class="nav-link">Swimwear</a></li>
                                                <li class="nav-item"><a href="{% url 'products' %}?category=wetsuits"
                                                        class="nav-link">Wetsuits</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=swimming_tech"
                                                        class="nav-link">Swimming Tech</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=swimming_bags"
                                                        class="nav-link">Swimming Bags</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=swimwear,wetsuits,swimming_tech,swimming_bags"
                                                        class="nav-link">All Swim</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <h5>Nutrition</h5>
                                            <ul class="list-unstyled mb-3">
                                                <li class="nav-item"><a href="{% url 'products' %}?category=energy"
                                                        class="nav-link">Energy</a></li>
                                                <li class="nav-item"><a href="{% url 'products' %}?category=hydration"
                                                        class="nav-link">Hydration</a></li>
                                                <li class="nav-item"><a href="{% url 'products' %}?category=protein"
                                                        class="nav-link">Protein</a></li>
                                                <li class="nav-item"><a href="{% url 'products' %}?category=recovery"
                                                        class="nav-link">Recovery</a></li>
                                                <li class="nav-item"><a
                                                        href="{% url 'products' %}?category=energy,hydration,protein,recovery"
                                                        class="nav-link">All Nutrition</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                        <li class="nav-item dropdown account-menu"><a data-toggle="dropdown" data-hover="dropdown"
                                data-delay="200" class="dropdown-toggle nav-link">My Account<b class="caret"></b></a>
                            <ul class="dropdown-menu account-menu-contained">
                                <h5>My Account</h5>
                                <ul class="list-unstyled mb-3">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <li class="nav-item"><a href="{% url 'add_product' %}" class="nav-link">Product
                                            Management</a></li>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <li class="nav-item"><a href="{% url 'add_blog_post' %}" class="nav-link">Blog
                                            Management</a></li>
                                    {% endif %}
                                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">My
                                            Profile</a></li>
                                    <li class="nav-item"><a href="{% url 'account_logout' %}"
                                            class="nav-link">Logout</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="{% url 'account_signup' %}"
                                            class="nav-link">Register</a></li>
                                    <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-buttons d-flex justify-content-end">
                        <div class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search"
                            class="btn navbar-btn btn-outline d-none d-lg-inline-block"><span class="sr-only">Toggle
                                search</span><i class="fa fa-search search-nav"></i></a>
                        <div class="navbar-collapse collapse d-none d-lg-block"><a href="{% url 'view_cart' %}"
                                class="btn btn-outline navbar-btn"><i class="fa fa-shopping-cart"></i><span
                                    class="cart-count">
                                    ({{ product_count }})
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="search" class="collapse">
            <div class="container">
                <form role="search" class="ml-auto" method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input type="text" placeholder="Search our site" class="form-control border border-dark"
                            name="q">
                        <div class="input-group-append">
                            <button type="submit" class="btn search-btn form-control"><i
                                    class="fa fa-search text-white"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="top-banner">
            <div class="container">
                <div class="row">
                    <div class="col"></div><a href="{% url 'products' %}" class="btn btn-success btn-sm">Free
                        Shipping on orders over £50</a>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block page_footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h5 class="mb-3">Information</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'terms_conditions' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'returns' %}">Returns Policy</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'cookies' %}">Cookies</a></li>
                    </ul>
                    <hr>
                    <h5 class="mb-3">Users</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        <li><a href="{% url 'account_signup' %}">Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="mb-3">Registered Address</h5>
                    <p><strong>Urban Attiva</strong><br>1 High Street<br>Newtown<br>NT1 1GB<br>England<br><strong>United
                            Kingdom</strong></p>
                    <hr class="d-block d-md-none">
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="mb-3">Social Media</h4>
                    <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a
                            href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#"
                            class="instagram external"><i class="fa fa-instagram"></i></a><a href="#"
                            class="gplus external"><i class="fa fa-google-plus"></i></a></p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 mb-2 mb-lg-0">
                            <p class="text-left">© 2021 Matthew Leach</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="to-top-btn">
        <a class="to-top-link d-flex">
            <i class="fas fa-arrow-circle-up mx-auto my-auto"></i>
        </a>
    </div>

    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show')
    </script>

    <script type="text/javascript">
        // Adapted from https://www.markuptag.com/jquery-back-to-top-button-with-smooth-scroll/
        $(document).ready(function () {
            // Show and hide button after scroll down and up
            $(window).on("scroll", function () {
                if ($(this).scrollTop() > 200) {
                    $('.to-top-btn').fadeIn('slow');
                } else {
                    $('.to-top-btn').fadeOut('slow');
                }
            });
            // Clickable button js
            $('.to-top-link').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 0);
            });
        });
    </script>
    {% endblock %}

</body>

</html>